# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/**
!**/src/test/resources/**

# --- Java Class Files ---
*.class

# --- Logs ---
*.log

# --- IDE Configs (Keep your repo clean) ---
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# --- OS Junk ---
.DS_Store
Thumbs.db